<%= form_for(User.new, url:{action: "create"} )do |f| %>
  <%= f.label :username, 'Enter a username' %><br/>
  <%= f.text_field :username %><br/>
  <%= f.submit 'Start chatting' %>
<% end %>
<div>
	<%= render partial: 'layouts/flash_errors'%>
</div>

<!--
<%= form_tag "sessions", method: "post" do %>
	<label name="username">Enter a username<label/><br/>
	<input type="text" name="username" /><br/>
	<input type="hidden" name="user" value=<%= @user %>/>
	<input type="submit" value="Start chatting"/>
<% end %>
 -->